* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.navbar {
    background-color: #1F2937;
}

.logo {
    color: white;
    font-size: large;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    color: lightblue;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav {
    display: flex;
    gap: 20px;
}

.header {
    background-color: #1F2937;
    color: white;
}

.header .container {
    display: flex;
    align-items: center;
}

.header img {
    max-width: 400px;
}

.header h1, .header p{
    margin-bottom: 20px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
    border-style: none;
    border-radius: 5px;
}

.cards .container {
    text-align: center;
    height: 400px;
}

.card {
    display: flex;
}

.card img {
    max-width: 200px;
}

.testimonial {
    background-color: #E5E7EB;
}

.testimonial .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.testimonial p {
    font-size: 24px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.testimonial span {
    font-weight: bold;
    align-self: flex-end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    max-width: 900px;
    margin: 0 auto;
}

.cta .container {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    color: white;
    width: 75%;
    height: 50%;
    border-radius: 5px;
}

.cta p {
    font-weight: 100;
    font-size: 14px;
}

.cta .container button {
    border: white 2px solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
    text-align: center;
    height: 50px;
}

